@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
  /* Colors */
  --color-brand-50: rgb(255, 251, 235);
  --color-brand-100: rgb(254, 243, 199);
  --color-brand-200: rgb(253, 230, 138);
  --color-brand-300: rgb(252, 211, 77);
  --color-brand-400: rgb(251, 191, 36);
  --color-brand-500: rgb(245, 158, 11);
  --color-brand-600: rgb(217, 119, 6);
  --color-brand-700: rgb(180, 83, 9);
  --color-brand-800: rgb(146, 64, 14);
  --color-brand-900: rgb(120, 53, 15);
  --color-neutral-0: rgb(255, 255, 255);
  --color-neutral-50: rgb(250, 250, 250);
  --color-neutral-100: rgb(244, 244, 245);
  --color-neutral-200: rgb(228, 228, 231);
  --color-neutral-300: rgb(212, 212, 216);
  --color-neutral-400: rgb(161, 161, 170);
  --color-neutral-500: rgb(113, 113, 122);
  --color-neutral-600: rgb(82, 82, 91);
  --color-neutral-700: rgb(63, 63, 70);
  --color-neutral-800: rgb(39, 39, 42);
  --color-neutral-900: rgb(24, 24, 27);
  --color-neutral-950: rgb(9, 9, 11);
  --color-error-50: rgb(254, 242, 242);
  --color-error-100: rgb(254, 226, 226);
  --color-error-200: rgb(254, 202, 202);
  --color-error-300: rgb(252, 165, 165);
  --color-error-400: rgb(248, 113, 113);
  --color-error-500: rgb(239, 68, 68);
  --color-error-600: rgb(220, 38, 38);
  --color-error-700: rgb(185, 28, 28);
  --color-error-800: rgb(153, 27, 27);
  --color-error-900: rgb(127, 29, 29);
  --color-warning-50: rgb(245, 243, 255);
  --color-warning-100: rgb(237, 233, 254);
  --color-warning-200: rgb(221, 214, 254);
  --color-warning-300: rgb(196, 181, 253);
  --color-warning-400: rgb(167, 139, 250);
  --color-warning-500: rgb(139, 92, 246);
  --color-warning-600: rgb(124, 58, 237);
  --color-warning-700: rgb(109, 40, 217);
  --color-warning-800: rgb(91, 33, 182);
  --color-warning-900: rgb(76, 29, 149);
  --color-success-50: rgb(236, 253, 245);
  --color-success-100: rgb(209, 250, 229);
  --color-success-200: rgb(167, 243, 208);
  --color-success-300: rgb(110, 231, 183);
  --color-success-400: rgb(52, 211, 153);
  --color-success-500: rgb(16, 185, 129);
  --color-success-600: rgb(5, 150, 105);
  --color-success-700: rgb(4, 120, 87);
  --color-success-800: rgb(6, 95, 70);
  --color-success-900: rgb(6, 78, 59);
  --color-brand-primary: rgb(217, 119, 6);
  --color-default-font: rgb(24, 24, 27);
  --color-subtext-color: rgb(113, 113, 122);
  --color-neutral-border: rgb(228, 228, 231);
  --color-white: rgb(255, 255, 255);
  --color-default-background: rgb(255, 255, 255);

  /* Fonts */
  --text-caption: 12px;
  --text-caption--font-weight: 400;
  --text-caption--letter-spacing: 0em;
  --text-caption--line-height: 16px;
  --text-caption-bold: 12px;
  --text-caption-bold--font-weight: 500;
  --text-caption-bold--letter-spacing: 0em;
  --text-caption-bold--line-height: 16px;
  --text-body: 14px;
  --text-body--font-weight: 400;
  --text-body--letter-spacing: 0em;
  --text-body--line-height: 20px;
  --text-body-bold: 14px;
  --text-body-bold--font-weight: 500;
  --text-body-bold--letter-spacing: 0em;
  --text-body-bold--line-height: 20px;
  --text-heading-3: 16px;
  --text-heading-3--font-weight: 500;
  --text-heading-3--letter-spacing: 0em;
  --text-heading-3--line-height: 20px;
  --text-heading-2: 20px;
  --text-heading-2--font-weight: 500;
  --text-heading-2--letter-spacing: 0em;
  --text-heading-2--line-height: 24px;
  --text-heading-1: 30px;
  --text-heading-1--font-weight: 500;
  --text-heading-1--letter-spacing: 0em;
  --text-heading-1--line-height: 36px;
  --text-monospace-body: 14px;
  --text-monospace-body--font-weight: 400;
  --text-monospace-body--letter-spacing: 0em;
  --text-monospace-body--line-height: 20px;

  /* Font families */
  --font-caption: "Work Sans";
  --font-caption-bold: "Work Sans";
  --font-body: "Work Sans";
  --font-body-bold: "Work Sans";
  --font-heading-3: "Work Sans";
  --font-heading-2: "Work Sans";
  --font-heading-1: "Work Sans";
  --font-monospace-body: monospace;

  /* Box shadows */
  --shadow-sm: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  --shadow-default: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  --shadow-md: 0px 4px 16px -2px rgba(0, 0, 0, 0.08),
    0px 2px 4px -1px rgba(0, 0, 0, 0.08);
  --shadow-lg: 0px 12px 32px -4px rgba(0, 0, 0, 0.08),
    0px 4px 8px -2px rgba(0, 0, 0, 0.08);
  --shadow-overlay: 0px 12px 32px -4px rgba(0, 0, 0, 0.08),
    0px 4px 8px -2px rgba(0, 0, 0, 0.08);

  /* Border radiuses */
  --radius-sm: 8px;
  --radius-md: 16px;
  --radius-DEFAULT: 16px;
  --radius-lg: 24px;
  --radius-full: 9999px;

  /* Spacing */
  --spacing-112: 28rem;
  --spacing-144: 36rem;
  --spacing-192: 48rem;
  --spacing-256: 64rem;
  --spacing-320: 80rem;
}

body {
    font-family: 'Work Sans', 'Roboto', sans-serif;
}

/* Container */
@utility container {
  padding-left: 16px;
  padding-right: 16px;

  @media (width >= theme(--breakpoint-sm)) {
    padding-left: calc((100vw + 16px - 640px) / 2);
    padding-right: calc((100vw + 16px - 640px) / 2);
  }

  @media (width >= theme(--breakpoint-md)) {
    padding-left: calc((100vw + 16px - 768px) / 2);
    padding-right: calc((100vw + 16px - 768px) / 2);
  }

  @media (width >= theme(--breakpoint-lg)) {
    padding-left: calc((100vw + 16px - 1024px) / 2);
    padding-right: calc((100vw + 16px - 1024px) / 2);
  }

  @media (width >= theme(--breakpoint-xl)) {
    padding-left: calc((100vw + 16px - 1280px) / 2);
    padding-right: calc((100vw + 16px - 1280px) / 2);
  }

  @media (width >= theme(--breakpoint-2xl)) {
    padding-left: calc((100vw + 16px - 1536px) / 2);
    padding-right: calc((100vw + 16px - 1536px) / 2);
  }
}

@custom-variant mobile (@media (max-width: 767px));